name: CI

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: ./build.sh build

      - name: Test
        run: ./tests/run.sh
